@model ConfirmMailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/confirm.css" rel="stylesheet" />
</head>
<body>
    <form method="post">
        <div>
            <img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/mail-letter-offer-256.png" alt="icon">
        </div>
        <h2>Taşınan Mail Adresi: @ViewBag.v</h2>
        <br />
        <label>Kullanıcı ID Değeri</label>
        <input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v" />
        <br />
        <label>Mail Adresinize Gelen 6 Haneli Kodu Giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmCode" />
        <br />
        <button class="btn btn-primary">Hesabı Aktifleştir</button>
        <br />
        <br />
    </form>
</body>
</html>
